.byslexic {
  font-family: "Byslexic" !important;
  text-align: left !important;
  color: "#2E2E2E" !important:
}

@font-face {
  font-family: "Font";
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/font.otf') format('otf');
}
