.byslexic {
  font-family: "Byslexic" !important;
  text-align: left !important;
  color: #575757 !important;
  line-height: 1.40;
  font-size: small;
  background-color: #F1F1F1 !important;
}
a .byslexic {
  font-family: "Byslexic" !important;
  text-align: left !important;
  color: #575757 !important;
  line-height: 1.40;
  font-size: small;
  background-color: #F1F1F1 !important;
}

@font-face {
  font-family: "Font";
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/font.otf') format('otf');
}
